* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Times New Roman", Times, serif;
}

.banner {
    background-color: rgb(226, 157, 157);
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.banner img{
    width: 100%;
    height: 20rem;
}
.nav {
    display: flex;
    justify-content: flex-end; /* Ajusta para alinhar os itens à direita */
    gap: 1rem;
    background-color: aqua;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

}

.nav a {
    text-decoration: none;
    color: black; /* Define uma cor padrão para o texto dos links */
    padding: 0.5rem; /* Adiciona padding para melhorar a área clicável */
    border-radius: 5px; /* Adiciona bordas arredondadas aos links */
    transition: background-color 0.3s; /* Suaviza a transição da cor de fundo ao passar o mouse */
}
.nav a:hover {
    background-color: lightcoral; /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Muda a cor do texto para branco ao passar o mouse */
}
.modalidade {
    justify-content: flex-start;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.card {
    background-color: blue; /* Cor de fundo do card */
    border: 3px solid red; /* Largura, estilo e cor da borda */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s, box-shadow 0.5s;
    color: white; /* Cor do texto dentro do card */
    width: 100%; /* Largura opcional do card */
    text-align: left; /* Alinhamento do texto */
    transform-style: preserve-3d;
    
    transition: 0.5s;
}
.card:hover img {

    transform: translate(50%, -40%) scale(1.8); /* Centraliza e aumenta a imagem */
    width: 50%;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil ao card */
    transition: 0.5s;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    

    
}
.card:hover  {
    transform: scale(1.1); /* Aumenta o tamanho do card em 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil ao card */
    transition: 0.5s;

    transform:rotateY(10deg) rotateX(30deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);

    
}

.card h3 {
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

.rodape {
    background-color: blueviolet;
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: auto 50% auto;
    color: white;
    font-size: 1.2rem;
    text-align: center;

}



.rodape p{
    text-align: left;
    
}

.rodape a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: aliceblue;

}

